<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="margin-top: 55px;background-color: #282828">
    <a class="navbar-brand" href="#">
        <img src="/media/{{ stock.icon }}" width="30" height="30" class="d-inline-block align-top"
             alt="">
        {{ stock.name }}({{ stock.code }})
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link {% if index == 'info' %} active {% endif %}" href="./">股票 <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link {% if index == 'now' %} active {% endif %}" href="chart">实时</a>
        </div>
    </div>
</nav>